{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text">
        Mini Blog App is created using Django Web Framework.
      </p>
      <a href="https://github.com/itsraghul" class="btn btn-danger">GitHub</a>
      <a href="www.linkedin.com/in/raghul-s25" class="btn btn-secondary"
        >Linked In</a
      >
    </div>
  </div>
</div>

{% endblock sidebar %}
